{% extends 'base.html.twig' %}

{% block body %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Conditions générales de vente - PartnerPact</title>
    </head>
    <body>
    <h1>Conditions générales de vente</h1>
    <p>PartnerPact est une application intermédiaire entre des entreprises et des Streamers.</p>
    <h2>Article 1 : Objet</h2>
    <p>Les présentes conditions générales de vente ont pour objet de définir les conditions dans lesquelles PartnerPact met à disposition des entreprises et des Streamers une plateforme permettant de mettre en relation les entreprises et les Streamers pour des collaborations.</p>
    <h2>Article 2 : Tarifs</h2>
    <p>Les tarifs proposés par PartnerPact sont indiqués sur notre site internet et sont exprimés en euros toutes taxes comprises.</p>
    <h2>Article 3 : Commandes</h2>
    <p>Les entreprises et les Streamers peuvent passer uun contrat en remplissant un formulaire de commande disponible sur notre site internet.</p>
    <h2>Article 4 : Paiement</h2>
    <p>Le paiement des commandes peut être effectué par carte bancaire, PayPal ou virement bancaire.</p>
    <h2>Article 5 : Responsabilité</h2>
    <p>PartnerPact ne peut être tenue responsable des dommages causés aux entreprises et aux Streamers en raison de la mauvaise utilisation de notre plateforme.</p>
    <h2>Article 6 : Modification des conditions générales de vente</h2>
    <p>PartnerPact se réserve le droit de modifier les présentes conditions générales de vente à tout moment.</p>
    </body>
    </html>
{% endblock %}