{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block nav %}
    <nav class="navbar navbar-light justify-content-between border-bottom  shadow p-3 mx-6">
        <a class="navbar-brand" href="home.html.twig"><img alt="Logo" src="/img/logo/logo_small.png"
                                                           class="pull-left w-50"></a>
        <div class="d-flex">
            <a class="nav-link mx-4 fs-4 fw-bolder" href="{{ path('app_register_streamer') }}">S'inscrire</a>
            <a class="nav-link mx-4 fs-4 fw-bolder" href="{{ path('app_login') }}">Se connecter</a>
        </div>
    </nav>

{% endblock %}
{% block body %}
    <main class="container-fluid">
        {% block section %}
            <section class="row rounded shadow  mb-5 mt-3 flex-sm-column flex-md-row">
                <div class="col d-flex align-items-center row">

                    <h1>Bienvenue sur PartnerPact</h1>
                    <p class="fs-1 fw-bolder text-center">Nous sômmmes une plateforme de mise en relation streamers et les marques.
                        Cette plateforme sécurisera les contrats entre les partis.
                    </p>

                </div>
                <div class="col p-0">
                    <img alt="Logo" src="/img/streamspons.png" class="img-fluid w-100">
                </div>
            </section>
        {% endblock %}


        <aside>
            <div class="d-flex align-items-center justify-content-center">
                <span class="fs-2 text-decoration-underline mb-3 text-center">Pour les entreprises</span>
            </div>
            <p class="fs-4 fw-bolder mb-3 text-center">Vous voulez vous associer à des streamers influents pour promouvoir votre
                marque? <br> Rejoignez notre plateforme pour découvrir les talents les plus pertinents. Notre plateforme est
                le lieu idéal pour vous qui cherchent à s'associer à des streamers pour une campagne de sponsoring
                réussie. </p>
            <div class="d-flex align-items-center justify-content-center">
                <span class="fs-2 text-decoration-underline mb-3 text-center">Pour les streamers</span>
            </div>

            <p class="fs-4 fw-bolder mb-3 text-center">
                Vous êtes à la recherche de nouveaux partenariats pour votre chaîne de streaming?
                Rejoignez notre plateforme et découvrez les opportunités de parrainage uniques qui s'offrent à vous pour
                booster votre carrière de streamer. </p>
            <div class="d-flex align-items-end justify-content-center">
                <a type="button" class="btn btn-primary fs-2 fw-bolder text-center rounded-4" href="{{ path('app_register_streamer') }}">Inscrivez-vous maintenant!</a>
            </div>

        </aside>
    </main>

{% endblock %}
