{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block nav %}
    <nav class="navbar navbar-light justify-content-between border-bottom  shadow p-3 mx-6">
        <a class="navbar-brand" href="home.html.twig"><img alt="Logo" src="/img/logo/logo_small.png"
                                                           class="pull-left w-50"></a>
        <div class="d-flex">
            <a class="nav-link mx-4 fs-4 fw-bolder" href="{{ path('app_register_streamer') }}">S'inscrire</a>
            <a class="nav-link mx-4 fs-4 fw-bolder" href="{{ path('app_login') }}">Se connecter</a>
        </div>
    </nav>

{% endblock %}
{% block body %}
    <main class="container-fluid">
        {% block section %}
            <section class="row rounded shadow p-3 mb-5 mt-3 flex-sm-column flex-md-row">
                <div class="col d-flex align-items-center row">

                    <h1>Bienvenue dans notre espace de ressource</h1>

                    <h2 class="h2_home">A propos :</h2>
                    <p class="fs-2 fw-bolder">C’est une plateforme de mise en relation streamers et de marque.
                        Cette plateforme sécurisera les contrats entre les partis
                        et agira comme un intermédiaire.
                    </p>

                </div>
                <div class="col">
                    <img style="width:95%" alt="Logo" src="/img/streamspons.png" class="">
                </div>
            </section>
        {% endblock %}


        <aside>
            <p class="fs-2 fw-bolder">Vous voulez vous associer à des streamers influents pour promouvoir votre
                marque? Rejoignez notre plateforme pour découvrir les talents les plus pertinents. Notre plateforme est
                le lieu idéal pour vous qui cherchent à s'associer à des streamers pour une campagne de sponsoring
                réussie. </p>

            <hr>
            <p class="fs-2 fw-bolder"> Vous êtes à la recherche de nouveaux partenariats pour votre chaîne de streaming?
                Rejoignez notre plateforme et découvrez les opportunités de parrainage uniques qui s'offrent à vous pour
                booster votre carrière de streamer. </p>
            <div class="offset-4 col-4 mt-5">
                <a type="button" class="btn btn-primary col fs-2 fw-bolder text-center rounded-4" href="{{ path('app_register_streamer') }}">Inscrivez-vous maintenant!</a>
            </div>
        </aside>
    </main>

{% endblock %}
