@import "~bootstrap";

body {
    background-color: #E4DBF5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#08415C;
    height: 100vh;
}

main {
    height: 100%;
}

.navbar{
    background-color: #E4DBF5;
}

h1 {
    text-align: center;
    color:#08415C ; 
    height: 3.5rem;
    

}

.h2_home {
    text-align: center;

}



section {
    background-color: rgb(212, 173, 220);
    
}

.btn-primary{
    background-color:#08415C;
}

hr {
    border: none;
    border-top: 3px double #08415C;
    color: #08415C;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer{

    background-color: #714FA1;
    margin-top: 50px;

}

.icon-login {
    border-radius: 50%; 
    width:50px;
    height:50px;
    
    
    
  }

  .left-article{
    
  background:rgb(212, 173, 220);
  margin-top: 20px;
  width: auto;
  margin-right: 5px;
  
}

  .right-article{
   
  background:rgb(212, 173, 220);
  margin-top: 20px;
  margin-left: 5px;
  width: 1200px;
  
 
  
  
  

  }




