{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

        <main class="container-fluid d-flex justify-content-between">


            <div class="left-article ">
                <h2>Vos Statistiques :</h2>
                <img alt="graphic" src="img/graphique.png">
                <p>Superatis Tauri montis verticibus qui ad solis ortum sublimius attolluntur, Cilicia spatiis
                    porrigitur late distentis dives bonis omnibus terra, eiusque lateri dextro adnexa Isauria, pari
                    sorte uberi palmite viget et frugibus minutis, quam mediam navigabile flumen Calycadnus
                    interscindit.</p>
            </div>

            <div class="right-article d-flex flex-column align-items-center ">
                <div class="">
                    <h2>Streamers qui pourrait vous intéresser :</h2>


                    <ul>
                        <li><a class="offer_contract mx-4 fs-4 fw-bolder" href="#">Yuzufei</a></li>
                        <li><a class="offer_contract mx-4 fs-4 fw-bolder" href="{{ path('app_show_streamer', { id: streamer.id }) }}">Pawa_Chan</a></li>
                        <li><a class="offer_contract mx-4 fs-4 fw-bolder" href="#">Tatouga</a></li>
                    </ul>
                </div>
                <div class="mt-auto mb-5">
                    <a type="button" class="btn btn-primary col fs-2 fw-bolder" href="{{ path('app_company_search') }}">Rechercher
                        un Streamer</a>
                </div>

            </div>
        </main>

        <div class="container d-flex align-self-end col-3">


        </div>



{% endblock %}
