{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}
      {% block main %}
          <main class="container-fluid d-flex justify-content-between">
              <div class="left-article ">
                    <p>Mes Statistiques :</p>
                    <img alt="graphic" src="img/graphique.png">
                    <p>Superatis Tauri montis verticibus qui ad solis ortum sublimius attolluntur, Cilicia spatiis porrigitur late distentis dives bonis omnibus terra, eiusque lateri dextro adnexa Isauria, pari sorte uberi palmite viget et frugibus minutis, quam mediam navigabile flumen Calycadnus interscindit.</p>
              </div>
              <div class="right-article d-flex flex-column align-items-center ">
                    <div class="">
                        <h2>Offres qui pourrait vous intéresser :</h2>
                        <ul>
                            <li> <a class="offer_contract mx-4 fs-4 fw-bolder" href="#">Adidas</a></li>
                            <li> <a class="offer_contract mx-4 fs-4 fw-bolder" href="#">Nike</a></li>
                            <li> <a class="offer_contract mx-4 fs-4 fw-bolder" href="#">Reebok</a></li>
                        </ul>
                    </div>
                    <div class="mt-auto mb-5">
                        <a type="button" class="btn btn-primary col fs-2 fw-bolder" href="{{ path('app_streamer_search') }}">Rechercher un Sponsor</a>
                    </div>
              </div>
          </main>
          <div class="container d-flex align-self-end col-3"></div>
      {% endblock %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}
